* {
    font-family: 'Lato', sans-serif;
}

nav._header {
    box-shadow: none;
    background: transparent !important;
}

.block .block__title {
    text-align: center;
    font-weight: 300;
}

.hero {
    color: #fafafa;
    padding-top: 190px;
    background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #52b07c);
    padding-bottom: 25px;
    margin-top: -90px;
}

.hero .hero__title {
    font-size: 3rem;
}

.to-source {
    border-radius: 40px;
    background-color: #52b07c;
}

.container-wide {
    padding: 0 2em;
}

.bubblechart canvas {
    margin: 25px 0;
}
.bubblechart__technologie__list {
    overflow-x: scroll;
    max-height: 420px;
}
.bubblechart__technologie__list .bubblechart__technologie {
    cursor: pointer;
}
.bubblechart__technologie__list--children .bubblechart__technologie {
    cursor: default;
}
.bubblechart__technologie__list .bubblechart__technologie__pastel {
    border-radius: 22.5px;
    width: 22.5px !important;
    height: 22.5px;
}
.description {
    background-color: #F7C59F;
    color: #393D3F;
}

.about {
    background-color: #393D3F;
    color: #fafafa;
    padding-bottom: 20px;
}

.author {
    text-align: center;
    padding: 25px;
    background-color: #EE4266;
    color: #fff;
    margin-top: -20px;
}

.author .author__img {
    width: 150px;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, .3)
}

.author .author__name {
    font-weight: 100;
    margin-top: 15px;
}

.author .author__social-media__icon {
    display: inline-flex;
    margin: 0 15px;
}

.author .author__social-media__icon svg {
    width: 50px;
    height: 50px;
    fill: #fff;
    transition: .3s;
}

.author .author__social-media__icon--github:hover svg {
    fill: #000;
    border-radius: 50px;
}
.author .author__social-media__icon--linkedin:hover svg {
    fill: #4875B4;
    border-radius: 5px;
}
